<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vic.actionbar">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DialogWhenLarge">
        <activity
            android:name=".MainActivity"
            android:label="Main"
            android:logo="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Other"
            android:label="Other"
            android:logo="@drawable/ic_launcher"
            android:theme="@android:style/Theme.Holo" />
        <activity
            android:name=".ActionView"
            android:label="Clock"
            android:logo="@drawable/ic_launcher"></activity>
        <activity android:name=".Tab"></activity>
    </application>

</manifest>
